.menu-pane {
    -fx-background-color: linear-gradient(to bottom, #121212, #1f1f1f);
    -fx-alignment: center;
    -fx-padding: 40;
}

.button {
    -fx-font-family: "Gothical";
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.button-title {
    -fx-font-family: "Gothical";
    -fx-font-size: 100px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.numbers-especial {
    -fx-font-family: "GothicPixels";
    -fx-font-size: 35px;
    -fx-fill: white;
}


.button:hover {
    -fx-text-fill: #ff0000;
    -fx-cursor: hand;
}

.title-label{
    -fx-font-family: "Gothical";
    -fx-font-size: 100px;
    -fx-text-fill: white;
}


.loading-button {
    -fx-font-family: "Gothical";
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.text-level {
    -fx-font-family: "Gothical";
    -fx-font-size: 60px;
    -fx-fill: #ffffff;
}

.origin-combo-box {
    -fx-font-family: 'Gothical';
    -fx-font-size: 80px;
    -fx-background-color: transparent;
    -fx-text-fill: #e0e0e0;
    -fx-alignment: center;
    -fx-padding: 0 2px 3px 0;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #5a5a5a;
    -fx-mark-color: #e0e0e0;
    -fx-cursor: hand;
}

.origin-combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0 5px 0 0;
    -fx-alignment: center;
}

.origin-combo-box .arrow {
    -fx-shape: "M 0 0 L 5 5 L 10 0 Z";
    -fx-background-color: #e0e0e0;
    -fx-scale-shape: false;
    -fx-padding: 0 0 0 5px;
}

.origin-combo-box .text-input {
    -fx-background-color: transparent;
    -fx-text-fill: #e0e0e0;
    -fx-alignment: center;
    -fx-font-size: 18px;
}

.origin-combo-box .list-view {
    -fx-alignment: center;
    -fx-background-color: #1a1a1a;
    -fx-border-color: #5a5a5a;
    -fx-opacity: 0.8;
    -fx-border-width: 1px;
    -fx-pref-width: 335px;

}

.origin-combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #e0e0e0;
    -fx-padding: 8px 5px;
    -fx-alignment: center;
    -fx-font-size: 50px;
}

.origin-combo-box .list-cell:filled:hover {
    -fx-background-color: #2a2a2a;
}

.origin-combo-box:focused {
    -fx-border-color: #7a7a7a;
}

.battle-button {
    -fx-font-family: "Gothical";
    -fx-font-size: 80px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

/* Inventario */

.root-inventory {
    -fx-background-color: #303030;

}
.tab-box {
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #303030;
}

.equip-box {
    -fx-spacing: 20px;
    -fx-alignment: center;
}

.detail-image {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0.2, 0, 0);
    -fx-fit-width: 250;
    -fx-fit-height: 250;
}

.detail-title {
    -fx-font-family: "Gothical";
    -fx-padding: 8px 5px;
    -fx-font-size: 70px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.detail-stats {
    -fx-font-family: "Times New Roman";
    -fx-padding: 10px 10px;
    -fx-font-size: 25px;
    -fx-fill: white;
}



.inventory-label {
    -fx-font-family: "Gothical";
    -fx-padding: 0 2px 3px 0;
    -fx-font-size: 40px;
    -fx-fill: white;
}

.numbers-especial-inventory {
    -fx-font-family: "GothicPixels";
    -fx-font-size: 25px;
    -fx-fill: white;
}

.tab:selected {
    -fx-background-color: #3d3d3d;
}

.image-view {
    -fx-effect: dropshadow(gaussian, black, 2, 0.3, 0, 0);
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-opacity: 0;
    -fx-padding: 0;
}

.detail-pane {
    -fx-translate-x: 50px;
}

/* Aumentar espaço entre EquipBox e stats */

.right-pane {
    -fx-spacing: 10px;
}

.small-button {
    -fx-font-family: "Arial";
    -fx-font-size: 8px;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-padding: 1px;
}

.numbers-especial-inventory {
    -fx-font-weight: bold;
    -fx-fill: #ffcc00;
}

.scroll-pane > .viewport {
    -fx-background-color: #303030;
}

.easter-egg {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: transparent;
    -fx-padding: 0;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-cursor: hand;
    -fx-background-radius: 0;
}

.easter-egg:hover {
    -fx-background-color: black;
}
