.menu-pane {
    -fx-background-color: linear-gradient(to bottom, #121212, #1f1f1f);
    -fx-alignment: center;
    -fx-padding: 40;
}

.button {
    -fx-font-family: "GothicPixels";
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.button:hover {
    -fx-text-fill: #ff0000;
    -fx-cursor: hand;
}

.loading-button {
    -fx-font-family: "GothicPixels";
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}


